@font-face {
    font-family: 'Poppins';
    src: url('../../../../../Poppins/Poppins-Regular.ttf');
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.checkout-button {
    background-color: #ffb98f;
    color: white;
}

.checkout-button:hover {
    color: white;
}

.radius {
    border-radius: 10px;
}

@media (max-width: 768px) {
    .col-4 img {
        width: 100%;
    }

    .col-4 h4 {
        font-size: 1rem;
    }

    .col-4 p {
        font-size: 0.8rem;
    }

    .col-4 p {
        font-size: 0.8rem;
    }
}

@media (max-width: 993px) {
    .col-4 img {
        width: 100%;
    }

    .col-4 h4 {
        font-size: 1rem;
    }

    .col-4 p {
        font-size: 0.8rem;
    }

    .col-4 p {
        font-size: 0.8rem;
    }
}