@font-face {
    font-family: 'Poppins';
    src: url('../../../../../Poppins/Poppins-Regular.ttf');
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.next-button {
    background-color: #5c8374;
    color: white;
}

.next-button:hover {
    color: white;
}